<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <h2> <strong> Proyectos realizados</strong></h2>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h3>Argentina Programa #PORFOLIO</h3>
                    <p>Aplicación Web que consiste en mi carta de presentación y una forma de demostrar los aprendido a lo largo del Argentina programa #SeProgramar</p>
                </li>
            </ul>
        </div>
    </div>
</div>