<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    rel="stylesheet"
  />
</head>
<section>
  <div class="container-fluid grandiet-custom vh-100" *ngIf="educacion">
    <div class="row">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label class="mb-2" for="nombreEdu">
            <h3>Nombre de la institución</h3>
          </label>
          <input
            type="text"
            class="form-control"
            id="nombreEdu"
            name="nombreEdu"
            [(ngModel)]="educacion.nombreEdu"
            required
          />
        </div>
        <div class="form-group">
          <label class="mb-2" for="descripcionEdu">
            <h3>Descripción de aprendizaje</h3>
          </label>
          <textarea
            type="text"
            class="form-control"
            rows="6"
            id="descripcionEdu"
            name="descripcionEdu"
            [(ngModel)]="educacion.descripcionEdu"
            required
          ></textarea>
        </div>
        <button class="btn btn-light mt-2">Actualizar educación</button>
      </form>
    </div>
  </div>
</section>
