<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<div class="container-fluid" *ngIf="educacion">
    <div class="row">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu"><h3>Nombre de la institución</h3></label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educacion.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descriptionEdu"><h3>Descripción de aprendizaje</h3></label>
                    <input type="text" class="form-control" id="descriptionEdu" name="descriptionEdu" [(ngModel)]="educacion.descriptionEdu" required>
                </div>
                    <button class="btn btn-light">Actualizar educacion</button>
            </form>
    </div>
</div>