<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <h2><strong>Educación</strong></h2>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h3><strong> Argentina Programa</strong></h3>
                    <h4>(2021-2022)</h4>
                    <p>El curso consta de 2 etapas: #YoProgramo y #SeProgramar.</p>
                </li>
                <li>
                    <h3> <strong>Open-Bootcamp- Aprende a Programar</strong></h3>
                    <h4>(2022-Cursando)</h4>
                    <p>Conceptos de la programación. Introducción a la programación. Java básico. Phyton. HTML y CSS.
                        JavaScript Básico. ReactJS. Sprint.</p>
                </li>
                <li>
                    <h3> <strong>Educación IT- Tester QA manual</strong></h3>
                    <h4>(2022)</h4>
                    <p> Fundamentos de la Calidad del Software. Metodologías para su desarrollo.
                        Procesos de testing. Planificación, ejecución y reporte de pruebas. Evaluación de procesos y
                        productos. Identificación y reporte de errores. Interacción con los diferentes roles de un
                        equipo. Tipos de testing.</p>
                </li>
            </ul>
        </div>
    </div>
</div>