.row{
    background: linear-gradient(to right, rgba(27, 94, 32, 1), rgb(217, 195, 161));
}

div{
    padding: 30px;
}

form{
	width:600px;
	padding: 50px;
	border-radius:10px;
	margin:auto;
    background-color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font: bold;
    color: #d2dce6;
}

button{
    font-family: 'Noto Sans JP', sans-serif;
    font: bold;
    position: relative;
    left: 170px;
}
