<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <h2><strong>Experiencia laboral</strong></h2>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h3> <strong>Estudio Contable Neme-Rizzo</strong></h3>
                    <h4>(2016-actualidad)</h4>
                    <p>Mi participación en este estudio es como administrativo contable donde realizo diversas tareas,
                        utilizando tecnologías como 3-C Informatica/Time Informatica/ Aplicativos de AFIP. </p>
                </li>
            </ul>
        </div>
    </div>
</div>