.grandiet-custom {
  background: linear-gradient(to right, #bccaf4, rgb(217, 195, 161));
}

div {
  padding: 15px;
}
form {
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  margin: auto;
  background-color: black;
  font-family: "Noto Sans JP", sans-serif;
  font: bold;
  color: #d2dce6;
}

button {
  font-family: "Noto Sans JP", sans-serif;
  font: bold;
  position: relative;
  left: 170px;
}
