<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
  <div class="row">
    <h2> <strong>Hard & Soft Skills</strong></h2>
    <div class="col-md-3">
      <circle-progress [percent]="40" [radius]="70" [imageSrc]="'./assets/html-5.png'"  [responsive]="true" [showImage]="true"
        [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#fa5f49'" [innerStrokeColor]="'#f9a59a'" [animation]="true" [animationDuration]="300">
      </circle-progress>
    </div>
    <div class="col-md-3">
      <circle-progress [percent]="35" [radius]="70" [imageSrc]="'./assets/css.png'" [responsive]="true" [showImage]="true"
        [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5086c1'" [innerStrokeColor]="'#84b6f4'" [animation]="true" [animationDuration]="300">
      </circle-progress>      
    </div>
    <div class="col-md-3">
      <circle-progress [percent]="30" [radius]="70" [imageSrc]="'./assets/javascript.png'" [responsive]="true" [showImage]="true"
        [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#c06500'" [innerStrokeColor]="'#ff9800'" [animation]="true" [animationDuration]="300">
      </circle-progress>      
    </div>
    <div class="col-md-3">
      <circle-progress [percent]="40" [radius]="70" [imageSrc]="'./assets/github_syh.png'" [responsive]="true" [showImage]="true"
        [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#512DA8'" [innerStrokeColor]="'#9575CD'" [animation]="true" [animationDuration]="300">
      </circle-progress>      
    </div>
  </div>
</div>