<nav class="navbar navbar-expand-lg">
  <div class="container-fluid align-items-center">
    <img class="img-fluid" src="../../../assets/APLogo.png" id="logoAP" />
  </div>
  <div class="d-flex">
    <a
      href="https://www.linkedin.com/in/eliana-granado-45828717a/"
      target="_blank"
    >
      <img class="img-fluid" src="../../../assets/linkedin.png" id="linkedin" />
    </a>
    <a href="https://www.facebook.com/elii.granado/" target="_blank">
      <img class="img-fluid" src="../../../assets/facebook.png" id="facebook" />
    </a>
    <a href="https://www.instagram.com/eliigranado/" target="_blank">
      <img
        class="img-fluid"
        src="../../../assets/instagram.png"
        id="instagram"
      />
    </a>
    <a href="https://github.com/ElianaGG" target="_blank">
      <img class="img-fluid" src="../../../assets/github.png" id="github" />
    </a>
    <button
      type="button"
      class="btn btn-outline-light m-1"
      (click)="login()"
      *ngIf="!isLogged"
    >
      Ingresar
    </button>
    <button
      type="button"
      class="btn btn-outline-light m-1"
      (click)="onLogOut()"
      *ngIf="isLogged"
    >
      Salir
    </button>
  </div>
</nav>
